.p-footer {
  background-color: $footer-color;

  &__info {
    display: flex;
    justify-content: center;
    padding: 30px 0;

    ul {
      display: flex;
    }

    li {
      padding: 0 10px;
    }

    li + li {
      border-left: solid 2px $white-color;
    }

    a {
      font-size: 1.4rem;
      color: $white-color;
      @include breakpoint(tablet) {
        font-size: 2rem;
      }
    }

  }

  p {
    font-size: 1.4rem;
    color: $white-color;
    text-align: center;
  }
}